openapi: 3.0.0
info:
  title: 这是第一版的接口
  description: '这是第一版的接口[http://swagger.io](http://swagger.io) or on[irc.freenode.net, #swagger](http://swagger.io/irc/).'
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@swagger.io
  license:
    name: 'Apache 2.0'
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  -
    url: 'http://www.up.com:808/index.php/admin/'
    description: 'SwaggerHUB API Mocking'
  -
    url: 'http://www.up.com:808/index.php/admin'
    description: 'SwaggerHUB API Mocking'
paths:
  /DeptArrange/getDeptid:
    get:
      tags:
        - DeptArrange
      summary: 获取班组的信息
      description: 获取班组信息，班组名可进行模糊查询
      operationId: getDeptid
      parameters:
        -
          name: Cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptnm
          in: query
          description: 班组名称
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: 班组id与班组名称
                  type: string
  /DeptArrange/getGroupdetail:
    get:
      tags:
        - DeptArrange
      summary: 获取班组相关详细信息
      description: 获取班组详细信息，如果有生产单和款号则返回更多信息
      operationId: getGroupdetail
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 班组id
          required: true
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/getMemArrange:
    get:
      tags:
        - DeptArrange
      summary: 获取人员工序安排
      description: 获取人员工序安排，获取已安排的和未安排
      operationId: getMemArrange
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 班组id
          required: true
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          required: true
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/getWp:
    get:
      tags:
        - DeptArrange
      summary: 获取工序相关信息
      description: 根据款号获取工序相关信息
      operationId: getWp
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          required: true
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/getEmployee:
    get:
      tags:
        - DeptArrange
      summary: 获取员工信息
      description: 根据款号获取工序相关信息
      operationId: getEmployee
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 部门id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/getMps:
    get:
      tags:
        - DeptArrange
      summary: 获取生产单相关信息
      description: 获取生产单相关信息
      operationId: getMps
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单号，模糊查询
          schema:
            type: string
        -
          name: page_num
          in: query
          description: 页码
          schema:
            type: string
        -
          name: limit_num
          in: query
          description: 当前页面显示数据条数
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/getMpsDetail:
    get:
      tags:
        - DeptArrange
      summary: 通过生产单号获取详细生产单数据
      description: 通过生产单号获取详细生产单数据
      operationId: getMpsDetail
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 班组id
          required: true
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          required: true
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/saveChange:
    post:
      tags:
        - DeptArrange
      summary: 更新，保存安排信息
      description: 更新，保存安排信息
      operationId: saveChange
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 班组id
          required: true
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          required: true
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          required: true
          schema:
            type: string
        -
          name: data
          in: query
          description: 相关数据
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /DeptArrange/deleteWp:
    delete:
      tags:
        - DeptArrange
      summary: 移除工序
      description: 移除工序
      operationId: deleteWp
      parameters:
        -
          name: cookie
          in: header
          description: token
          schema:
            type: string
        -
          name: deptid
          in: query
          description: 班组id
          required: true
          schema:
            type: string
        -
          name: mpsid
          in: query
          description: 生产单id
          required: true
          schema:
            type: string
        -
          name: matid
          in: query
          description: 款号id
          required: true
          schema:
            type: string
        -
          name: employeeid
          in: query
          description: 员工id
          required: true
          schema:
            type: string
        -
          name: addrno
          in: query
          description: 站位id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 返回成功
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ''
                  type: string
  /MatPlan/datashow:
    get:
      tags:
        - matplan
      summary: 'Finds Data by something input'
      description: 'Some data we need can be returned'
      operationId: datashow
      parameters:
        -
          name: mpsid
          in: query
          description: 制单号
          schema:
            type: string
        -
          name: page_num
          in: query
          description: 页码
          schema:
            type: int
        -
          name: page_count
          in: query
          description: 当前页面显示的数据量
          schema:
            type: int
        -
          name: color
          in: query
          description: 物料颜色
          schema:
            type: string
        -
          name: type
          in: query
          description: 物料类型
          schema:
            type: string
        -
          name: mpscode
          in: query
          description: 物料编号
          schema:
            type: string
        -
          name: state
          in: query
          description: 物料审核状态
          schema:
            type: string
        -
          name: model
          in: query
          description: 物料规格
          schema:
            type: string
        -
          name: name
          in: query
          description: 物料名字
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  description: 'Data all you need'
                  type: string
        '400':
          description: 查找失败
  /MatPlan/approval:
    post:
      tags:
        - matplan
      summary: 修改审核状态
      description: 修改审核状态
      operationId: approval
      parameters:
        -
          name: id
          in: query
          description: 数据的唯一标识
          required: true
          schema:
            description: 一个唯一标识数组
            type: form
        -
          name: state
          in: query
          description: 数据状态
          required: true
          schema:
            description: 关于状态的字符串
            type: string
      responses:
        '200':
          description: 更新成功
        '400':
          description: 更新失败
tags:
  -
    name: DeptArrange
    description: 人员安排
  -
    name: material
    description: 物料制单
